services:
  app:
    build:
      context: ./
      dockerfile: docker-compose/Dockerfile
    image: php-challenge
    container_name: php-challenge-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
      - ./storage:/var/www/storage
    networks:
      - php-challenge

  db:
    image: mysql:lts
    container_name: php-challenge-db
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - php-challenge

  db-test:
    image: mysql:lts
    container_name: php-challenge-db-test
    restart: unless-stopped
    ports:
      - 3307:3306
    environment:
      MYSQL_DATABASE: php-challenge-test
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_PASSWORD: admin
      MYSQL_USER: admin
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - php-challenge

  nginx:
    image: nginx:alpine
    container_name: php-challenge-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - php-challenge

networks:
  php-challenge:
    driver: bridge
